{% extends "layout/application.html" %}

{% block title %}About Erlymob &laquo; {% endblock %}

{% block content %}

<div class="row">
	<div class="span12">
		<h2>What is Erlymob?</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget purus libero, vitae posuere augue. Fusce mi felis, imperdiet in viverra eget, posuere eu ante. Curabitur aliquet, turpis et vestibulum auctor, metus risus interdum tellus, in molestie neque urna sit amet metus. Praesent gravida pulvinar tellus vitae tempor. Proin vitae sapien in velit rhoncus placerat sed vel lectus. Integer eleifend blandit justo ornare hendrerit. Nullam aliquam velit quis metus malesuada molestie pretium dolor aliquet. Cras aliquam orci eu felis scelerisque quis adipiscing enim feugiat. Vestibulum egestas ante justo. Aenean in quam nulla, nec hendrerit odio. Proin at felis dui, vitae fermentum mauris. Nam facilisis mauris et dui consectetur rhoncus. Praesent eleifend pellentesque augue et condimentum. Nam mollis auctor mi, non iaculis mauris congue et. Donec posuere turpis eu magna condimentum non varius ante blandit.</p>

		<h2>How do I suggest a new event?</h2>
		<p>Quisque ultrices tincidunt semper. Aenean nulla nisl, imperdiet a porttitor non, semper id nibh. Donec ut dapibus neque. Etiam cursus enim at ante tempor auctor. Quisque vitae pulvinar neque. Praesent nulla metus, mattis eget interdum sed, aliquet id erat. Cras faucibus orci ac enim feugiat ornare vestibulum enim auctor. Mauris dignissim justo in neque sollicitudin iaculis. Sed diam massa, ornare vitae dapibus quis, cursus vel velit. Vivamus ut tortor quam. Aliquam sed felis nulla, nec ullamcorper orci. Suspendisse eu sollicitudin mauris. Nunc gravida nulla neque. Sed a magna nulla.</p>

		<h2>How do I know who's coming?</h2>
		<p>Nam justo odio, egestas sed lacinia vitae, mollis a erat. Cras feugiat dignissim sapien sit amet dictum. Morbi elementum urna in est congue faucibus egestas arcu condimentum. Duis tempus aliquam egestas. Etiam ut massa id tellus placerat dapibus vel ac risus. Aenean interdum risus id diam facilisis gravida. Aliquam id orci ipsum, ut euismod diam. Duis posuere odio vitae massa euismod at dignissim sem egestas. Proin hendrerit lacus ut magna porta volutpat sed ut neque. Nullam et ante nulla, sit amet semper eros. In felis odio, suscipit vel laoreet eu, fringilla at lectus.</p>

		<h2>I have another dumb question; what's the answer?</h2>
		<p>Vivamus nec augue quam. Donec scelerisque turpis eget ligula venenatis vitae porttitor lacus euismod. Morbi urna nulla, tempor non semper auctor, consectetur eget tortor. Aenean nisl eros, pellentesque eget bibendum sit amet, porta ut nibh. Praesent cursus venenatis vehicula. Pellentesque eget nisl ac justo sollicitudin eleifend vitae in ipsum. Vivamus venenatis, massa at molestie viverra, mi eros consequat dolor, non aliquet tellus odio at dolor. Etiam volutpat mattis vulputate. Praesent convallis hendrerit velit sed pharetra. Curabitur euismod adipiscing nulla eu porttitor. Vestibulum eget velit diam.</p>
	</div>
</div>

{% endblock %}
