[{boss, [
    {path, "./deps/boss"},
    {applications, [emob_ui, ibrowse]},
    {db_host, "localhost"},
    {db_port, 1978},
    {db_adapter, mock},
    {log_dir, "log"},
    {server, mochiweb},
    {port, 3000},
    {session_adapter, mock},
    {session_key, "_emob_ui_session"},
    {session_exp_time, 525600}
]},
{emob_ui, [
    {path, "../emob_ui"},
    {base_url, "/"},
    {local_root, "http://localhost:3000"},
    {api_root, "http://localhost:8080"}
]}
].
