{plugin_dir, ["priv/rebar"]}.
{plugins, [boss_plugin]}.
{eunit_compile_opts, [{src_dirs, ["src/test"]}]}.

{deps_dir, ["deps"]}.
{deps, [
	{boss, ".*", {git, "https://github.com/evanmiller/ChicagoBoss.git", "HEAD"}},
	{ibrowse, ".*", {git, "https://github.com/cmullaparthi/ibrowse.git", "HEAD"}},
	{ejson, ".*", {git, "https://github.com/benoitc/ejson.git", "master"}},
	{kvc, ".*", {git, "https://github.com/etrepum/kvc.git", "HEAD"}}
	]}.
